/* 
/ BIOPAMA Protected Areas module Global CSS - this will load whenever a country, protected area, or PA search is viewed. 
/ 
/ It's intended to customise the style that applies to anything in this module. 
/
*/


nav.tabs {
  margin-bottom: 0px !important;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5000;
}
div.content > h1.title {
    display: none;
}

.mapCloseMarker, .closeSummaryCard {
  background-color: rgba(100,100,100,0.15);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  top: 70px;
  right: 10px;
  position: absolute;
}
.mapCloseMarker:hover, .closeSummaryCard:hover {
  background-color: rgba(255,165,165,0.30);
  color: red;
  font-size: 24px;
}

.ui-icon, .ui-widget-content .ui-icon {
    display: none;
}