#drupal-off-canvas ul.vertical-tabs__menu {
    margin: -1px 0 -1px -15em !important;
}

div.priority-actions .views-field-field-countries,
div.priority-actions .views-field-field-ac-region,
div.priority-actions .views-field-field-policy-pa,
div.priority-actions .views-field-field-ac-category{
width: 20%;
}

div.priority-actions .views-field-title,
div.priority-actions .views-field-title-1{
width: 30%;
}

.chart-title {
    font-size: 1.5em;
}
h2.node__title {
    display: none;
}
.container.chart-data-container {
    width: 100%;
    border: 2px solid #90c14f;
}
.chart-wrapper {
    margin-bottom: 10px;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    padding: 2px;
    border: 1px solid #00000014;
    border-radius: 3px;
    box-shadow: 0 0 10px 2px rgba(17,133,171,0.13);
}
.chart-wrapper:hover {
    background: whitesmoke;
}
.country-indicators.view.view-country-data-for-pressure {
    overflow: hidden;
}
.country-chart-large{
	height: 300px;
}
.info-hidden, .chart-large {
    display: none;
    background: white;
    z-index: 2;
    overflow: auto;
    border-top: 1px solid #00000026;
}
.info-hidden {
    height: 200px;
	padding: 20px;
}

/* .col-2 > .container.chart-wrapper > .row{
	flex-direction: row-reverse;
} */
.row.chart-header {
    height: 40px;
    color: #fff;
    background: #90c14f;
    overflow: hidden;
}

/* MB edits - Country - Region - WDPA page CSS */

body{
    background: url(https://rest-services.jrc.ec.europa.eu/images/mtx.jpg);
    background-color: #fbfbfb;
    background-blend-mode: multiply;
}
a.menu-tip, .chart-icon {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    color: #90c14f !important;
    font-size: 14px;
    background: #fff !important;
    padding: 4px;
    border: 2px solid;
    height: 26px;
    width: 26px;
    display: -webkit-inline-box;
    line-height: 0px;
    border-radius: 50%;
    cursor: pointer;
}
/* a.menu-tip:hover, .chart-icon:hover {
    color: #fff !important;
    font-size: 14px;
    background: #90c14f !important;
    padding: 6px 10px;
    height: 32px;
    width: 32px;
} */
.active-chart-button{
	color: #fff !important;
    background: #90c14f !important;
}
.chart-icons {
    display: flex;
}
.info-link {
    padding: 4px 8px;
}
.views-field-edit-node .ajax-progress.ajax-progress-throbber {
    position: absolute;
    top: 6px;
    right: 30px !important;
	left: unset;
}
.views-field.views-field-title {
    overflow: hidden;
}

span.scope-divider {
    color: #ccc;
}
scope-summary-header {
    padding: 0 10px;
}
.region-container {
	background: #fff;
}
.scope-summary-middle .col , .scope-summary-title {
  background-color:unset!important;
}

#focus_page_top{
/* border-bottom: 4px solid white; */
  box-shadow:0 0 20px 4px rgba(17,133,171,0.13);
    z-index: 0;
/*     position: relative; */
  /* position:fixed; */
/*   padding-top: 90px; */
/*   height:320px; */
  width:30%;
  display:block;
/*   max-height: 800px; */
  height:-webkit-fill-available!important;
  height:-moz-available!important;
  min-width:400px;
}

.row_nomargins{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.nomargins{
  margin:0px;
}

#focus_page_card{
  width:auto;
  padding-left:20px;
  padding-top:100px;
/*   border-top: 4px solid white; */
/*   min-height:320px; */
  height:320px;
  background-color: whitesmoke;
  border-bottom: 2px solid white;
}

#focus_page_card .scope-summary-middle {
    top: 0;
    height: auto;
    width: 100%;

}
#pa-radar{
    width: 500px;
    height: 300px;
}
.col.scope-summary-chart {
    text-align: center;
	padding: 0px !important;
	margin: 0px !important;
}
#focus_page_card .scope-summary-wrapper {
    margin: auto;
    width: 50%;
    display: -webkit-inline-box;
}


#focus_page_card .scope-summary-title{
/*     font-size: 1.5rem; */
    padding-left: 30px;
    color: #679c97;
    font-weight: 900;
    text-transform: uppercase;
}

#focus_page_map{
  overflow:hidden;
  max-height:100%;
}

#focus_page_map #map-container{
    height:calc(100%);
/*     height: -webkit-fill-available!important;
    height: -moz-available !important; */
    
    top: 0!important;
}
.mapboxgl-ctrl-top-right {
    margin-top: 90px;
}
.navbar {
    margin-bottom: 0px;
}
#accordion h3{
    font-family: "Maven Pro"!important;
    font-size: x-large;
    background-color:white;
	z-index: 6;
    color: #77a6a1;
    font-weight: 900;
    border-radius: 3px;
	box-shadow: 0 0 20px 4px rgba(17,133,171,0.13);    
    margin-top:20px;
	padding: 2px 0.4em;
  outline: none;
}

#accordion h3 i{
	    padding-right: 20px;
    color: white;
    background-color: #90c14f;
    width: 45px;
    height: 35px;
    margin-left: -20px;
    text-align: center;
    padding: 5px 0px;
    margin-right: 20px;
    /* padding-top: 7px; */
    border-radius: 2px;
}

#focus_bottom_section{
	height: -webkit-fill-available;
  height: -moz-available;
	padding-top: 10px;
}

#focus_details_right .ui-accordion .ui-accordion-content {
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 5px #607d8b0f;
  position: relative;
  z-index: 5;
}

#focus_details_right{
    width: 70%;
  /*   margin-left: 30%; */
  overflow-y: auto;
    padding-top: 100px;
}

#focus_main_container{
  display: flex;
}

#accordion_right_side{
      width: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

@media (max-width: 1300px){
  #focus_details_right{
    width:-webkit-fill-available;
    width:-moz-available;
/*     margin-left:400px; */
    padding-top: 100px;
  }
}

@media (max-width: 1000px){
  #focus_main_container {
    display: block;
  }
  #focus_page_top{
    position:relative;
    max-height:600px;
    width:100%;
  }
  #focus_details_right{
    width:-webkit-fill-available;
    width:-moz-available;
    margin-left:0px;
    padding-top: 0px;
  }
  #focus_page_map {
    min-width: 400px;
    width: calc(100%);
    overflow: hidden;
    /* border-top: 4px solid white; */
/*     max-height: 280px; */
  }
  .mapboxgl-canvas{
    width:100%;
  }
  #focus_page_card {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 110px;
    /* border-top: 4px solid white; */
    /* min-height: 320px; */
    height: 320px;
    background-color: whitesmoke;
  }
}



