 {#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<div id="focus_main_container">
   <div id="focus_page_top" class="row row_nomargins">
      <div id="focus_page_map" class="nomargins">
        <div id="map-container"></div>
      </div>
  </div>
  <div id="focus_details_right">
  <div class="info-card">{{ drupal_view('breadcrumb_protected_area_summary', 'block_1') }}</div>
    <div id="accordion_right_side" class="">
      <div id="accordion" class="node-accordion">
	    {% if psr_module == 'yes'  or dev_mode == 'true' %}
			{% if 'verified_user' in user.getroles  %}
			<h3><i class="fas fa-chevron-circle-down"></i>Priority Actions111</h3>
			  <div>
				<h4>Priority actions for the region</h4>
				<div class="actions-content">{{ drupal_view('priority_actions_by_policy_and_target', 'block_7') }}</div> 
				<h4>Priority actions for the country</h4>
				<div class="actions-content">{{ drupal_view('priority_actions_by_policy_and_target', 'block_6') }}</div> 
				<h4>Priority actions for {{ node.label }}</h4>
				<div class="actions-content">{{ drupal_view('priority_actions_by_policy_and_target', 'block_2') }}</div> 
			  </div>
			{% endif %}
		{% endif %}
		{% if psr_module == 'yes'  or dev_mode == 'true' %}
        <h3><i class="fas fa-chevron-circle-down"></i>State Indicators</h3>
          <div>
			{{ drupal_entity('node', 18214) }}
			<div class="country-scope-Content">{{ drupal_view('focus_state_and_pressure_data', 'local_state') }}</div>
          </div>
        <h3><i class="fas fa-chevron-circle-down"></i>Pressure Indicators</h3>
          <div>
			{{ drupal_entity('node', 18213) }}
            <div class="country-scope-Content">{{ drupal_view('focus_state_and_pressure_data', 'local_pressure') }}</div> 
          </div>
        <h3><i class="fas fa-chevron-circle-down"></i>Response Indicators</h3>
          <div>
			{{ drupal_entity('node', 18215) }}
            <div id="focus-tabs">
              <ul class="indicator-card-tabs">
              <li class="focus-tab focus-tab-global"><a href="#tabs-1">Global</a></li>
              <li class="focus-tab focus-tab-regional"><a href="#tabs-2">Regional</a></li>
              <li class="focus-tab focus-tab-country"><a href="#tabs-3">National</a></li>
              <li class="focus-tab focus-tab-pa"><a href="#tabs-4">Local</a></li>
              </ul>
                <div id="tabs-1">
                {{ drupal_view('focus_response_data', 'pa_global') }}
                </div>
                <div id="tabs-2">
                {{ drupal_view('focus_response_data', 'pa_regional') }}
                </div>
                <div id="tabs-3">
                {{ drupal_view('focus_response_data', 'pa_national') }}
                </div>
                <div id="tabs-4">
                {{ drupal_view('focus_response_data', 'pa_local') }}
                </div>
            </div>
          </div>
		  {% endif %}
        <h3><i class="fas fa-chevron-circle-down"></i>Climate Data</h3>
          <div>
            <div class="country-scope-Content"><div class="indicator-chart" id="pa-avg-climate-chart"><div id="mini-loader-wrapper"><div id="mini-loader"></div></div></div></div> 
          </div>
		{% if panorama_module == 'yes'  or dev_mode == 'true' %}
		<h3 class="panorama-solutions panorama-solutions-hide"><i class="fas fa-chevron-circle-down"></i>Protected Area Solutions</h3>
          <div class="solution-background">
			<div class="alert alert-success" role="alert">
			  These solutions are provided by the PANORAMA – Solutions for a Healthy Planet initiative and are published on the <a class="alert-link" href="https://panorama.solutions/en" target="_blank">PANORAMA web platform</a>.
			</div>
            <div class="panorama-solutions-results"></div> 
          </div>
		{% endif %}
		<h3><i class="fas fa-chevron-circle-down"></i>Documents (e.g. Management Assessments)</h3>
          <div>
			{{ drupal_view('documents_by_scope', 'block_1', node.nid.value) }}
          </div>
        <br></br>
      </div>
     </div>  
  </div>
  
 </div>
