{% block head %}
   <div id="header" class="header">
        <nav{{ navbar_attributes }}>
            {{ page.header }}
            {% if page.primary_menu %}
              <div class="collapse navbar-collapse" id="CollapsingNavbar">
                {{ page.primary_menu }}
	          </div>
            {% endif %}
        </nav>
   </div>
{% endblock %}
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div> 
<div id="main_container_wrapper">
	{{ page.content }}
 </div>